
body{
	padding:0;
	margin:0;
	align-items:center;
}
h1{
	text-align:center;
	font-size:50px;
	font-family:'Ubuntu', sans-serif;
	color:#F4F6F7 ;
	font-weight:bold;
	text-shadow:5px 5px 4px #73C6B6 ;
}
.bcont{
	padding:50px 250px;
	margin-top:20px;
}
#container{
	text-align:center;
	border:solid 10px #515A5A;
	border-radius:15px;
	padding:100px 50px;
	background:#A9DFBF ;
	position:relative;

}
.input-div{
	display:inline-block;
	margin-left:20px;
}
.inp{
	width:220px;
	height:50px;
	border:solid 5px #515A5A;
	font-size:20px;
	margin-top:10px;
	border-radius:10px;
	background:#F2F3F4;
}
.border{
	letter-spacing:1px;
	font-size:40px;
	font-family:'Ubuntu', sans-serif;
}
#img{
	position:absolute;
	z-index:-1;
	filter:blur(6px);
    height:100%;
	width:100%;
	margin:0;
	padding:0;
}